<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.3.xsd">

     <bean  id="company" class="com.maybank.dto.di.Company" >
        <property name="name" value="XYZ"></property>
        <property name="address" ref="address"></property> <!-- Dependency Injection-->
        <!--destroy-method="destroy" init-method="initialization" User user = new User(); user.init(); user.destroy() -->
    </bean>

    <bean  id="address" class="com.maybank.dto.di.Address" >
        <property name="street" value="Jalan"></property>
        <property name="city" value="Seremban"></property>
        <!--destroy-method="destroy" init-method="initialization" User user = new User(); user.init(); user.destroy() -->
    </bean>
</beans>